<br><br>
    <h1 class="admin-header">Admin Control Panel</h1>

   <div class="admin-content">
      <form action="/addProduct">
         <input type="submit" value="Add Product">
      </form>
      <br/>
      <form action="/removeProduct">
            <input type="submit" value="Remove Product">
      </form>
      <br/>
      <form action="/updateProduct">
            <input type="submit" value="Update Product">
      </form>
      <br/>
      <form action="/logout">
            <input type="submit" value="Logout"/>
      </form>
   </div>