<div class="divider-bar"></div>

<footer>
    This site is fictitious, farcical, offensive, irreverent, dull, pointless, and wholly inappropriate.<br>The creators of this site are sad people.<br>You should not try to contact them with legal queries or other vestiges of a more civilized society as the heathens would probably mistake your correspondence as flattery.<br>
    Best to just leave them alone.
</footer>

</body>
</html>