<div class="ui-elements">
    <a href="/"><img id="nav-logo" src="/img/montys_single.png" alt="logo"></a>
    <div class="navbar">
        <a href="/"><span>Home</span></a>
        <a href="/products"><span>Products</span></a>
        <a href="/about"><span>About</span></a>
        <a href="/faq"><span>FAQ</span></a>
        <a href="/cart" id="cart"><span>Cart</span></a>
    </div>

    <script>
        var currentPage = location.pathname;
        $("a[href='" + currentPage + "']").addClass("current-page");
    </script>
</div>