<% include partials/header %>


<% include partials/navbar %>
<% include partials/adminPanel %>

   <div class="page-content">
      <table id="cart-table">
         <tr class="dark-content cart-labels">
            <th class="item-icon"></th>
            <th>Image Url</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>  
            <th>Add</th>
         </tr>

         <tr class="light-content cart-contents">
            <td class="item-icon"></td>
           <form>
             
            <td><input id = "imgURL" type="text" placeholder="image url"></td>
            <td><input id = "name" type="text" placeholder="product name"></td>
            <td><input id = "description" type="text" placeholder="product description"></td>
            <td><input id = "price" type="text" placeholder="price"></td>
            <td><input id = "category" type="text" placeholder="category"></td>
            <td><button class="admin-add-item">Add</button></td>
             
           </form>
         </tr>
         
      </table>

      <div class="cart-cushion"></div>
  </div>
