<% include partials/header %>

<% include partials/navbar %>

<div class="page-content light-content cart-header">
    <span>Cart</span>
</div>

<hr><br>

<div class="cart-cushion"></div>

<div class="page-content">
    <table id="cart-table">
        <tr class="dark-content cart-labels">
            <th class="item-icon"></th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        <tr class="light-content cart-contents">
            <td class="item-icon"><img src="/img/necronomicon.png" alt="product-image"></td>
            <td>Necronomicon</td>
            <td>2000g</td>
            <td>20</td>
            <td><button class="remove-cart-item">X</button></td>
        </tr>
        <tr class="light-content cart-contents">
            <td class="item-icon"><img src="/img/shield_scorched.png" alt="product-image"></td>
            <td>Lightly Scorched Shield</td>
            <td>500g</td>
            <td>8</td>
            <td><button class="remove-cart-item">X</button></td>
        </tr>
        <tr class="light-content cart-contents">
            <td class="item-icon"><img src="/img/partial_health_pot.png" alt="product-image"></td>
            <td>Half-full Health Potion</td>
            <td>42g</td>
            <td>4</td>
            <td><button class="remove-cart-item">X</button></td>
        </tr>
    </table>
    <hr>
    <span class="page-content light-content cart-subtotal"> 32 items - <b>Subtotal:</b> 2542g<br><br>
        <button class="dark-content checkout-button">Checkout</button></span>
    <div class="cart-cushion"></div>
</div>

<% include partials/footer %>
