<% include partials/header %>

<% include partials/navbar %>

<span class="page-content light-content faq-header">Frequently Asked Questions</span>

<hr>

<div class="page-content light-content faq-content">

    <% json["faq"].forEach(function(block) { %>
        <div class="faq-block">
            <span class="faq-q">Q: </span><span class="faq-question"><%= block["question"] %></span><br>
            <span class="faq-a">A: </span><span class="faq-answer"><%= block["answer"] %></span><br><br>
            <div class="divider-bar"></div>
        </div>
    <% }); %>

</div>
<br><br>

<% include partials/footer %>
