<% include partials/header %>

<div class="head-graphic">
    <img id="head-image" src="img/fireflies2.jpg" alt="firefly_photo">
    <img id="head-text" src="img/banner.png" alt="logo">
</div>

<% include partials/navbar %>

<hr>
<br><br>
<div class="carousel featured">
    <h2 id="home-featured">Featured Items!</h2>
</div>
<br><br>
<hr>

<% include partials/footer %>