<% include partials/header %>


<% include partials/navbar %>

<div class="page-content">
    <div class="head-graphic">
        <img id="head-image" src="img/fireflies2.jpg" alt="firefly_photo">
        <img id="head-text" src="img/banner.png" alt="logo">
    </div>
</div>
<br><br><br><br>

<div class="light-content">
    <div class="page-content">
        <br><br>
        <div class="carousel featured">
            <h2 id="home-featured"> - Featured Items! - </h2>
        </div>
        <br><br>
    </div>
</div>
<div class="dark-content">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<% include partials/footer %>