<% include partials/header %>

<% include partials/navbar %>

<div class="light-content product-name page-content">
    <span><%= data.name %></span>
    <br><hr>
</div>

<div class="loading-image"><img src="/img/loading.gif" alt="loading-screen"></div>
<div class="light content page-content product-content">
    <div class="product-image"><img src="<%= data.imgURL %>" alt="product-icon"></div>
    <span id="product-description">
        <%= data.description %><br><br>
        <div id="product-price"><b>Price: <%= data.price %>g</b></div><br><br>
        Quantity: <input class="product-quantity" type="text" value="1"><br><br>
        <button class="dark-content default-button add-to-cart">Add to cart</button>
    </span>
</div>
<br>
<br>
<div class="product-button page-content"></div>

<% include partials/footer %>
