<% include partials/header %>

<% include partials/navbar %>
<div class="light-content product-name page-content">
    <span>Necronomicon</span>
    <br><hr>
</div>

<div class="light content page-content product-content">
    <div class="product-image"><img src="/img/necronomicon.png" alt="product-icon"></div>
    <span id="product-description">
        Inked with blood and bound in human flesh, this infamous tome of forbidden knowledge offers great power to those who dare skim its tortuous pages.<br>
        Buy now and recieve the free audio book edition, narrated by Betty White!<br><br>
        NO RETURNS!<br><br>
        <b>Price: 2000g</b><br><br>
        Quantity: <input class="product-quantity" type="text" value="1"><br><br>
        <button class="add-to-cart dark-content">Add to cart</button>
    </span>
</div>
<br>
<br>
<div class="product-button page-content"></div>

<% include partials/footer %>
