<% include partials/header %>
<body>

   <h1>Welcome</h1>

   <form action="/logout">
      <button>
         Logout
      </button>
   </form>
   
   <script src="" async defer></script>
</body>
<% include partials/footer %>