:root {
    --basic-font: 'Roboto Slab', serif;
    --fancy-font: 'Lobster Two', Helvetica, sans-serif;
    --bg-color-dark: rgb(30, 30, 34);
    --bg-color-light: rgb(250, 255, 255);
    --dark-blue: rgb(5, 33, 55);
    --violet-hover: rgb(148, 0, 122);
    --light-yellow: rgb(240, 194, 151);
    --dark-violet: rgb(16, 7, 38);
    --medium-violet: rgb(34, 0, 41);
    margin: auto;
}

a, body, div, footer, form, header, h1, h2, h3, html, img, nav, p, span, u {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.span-center {
    text-align: center;
}

.page-content, .ui-elements {
    display: block;
    max-width: 1366px;
    margin: 0 auto;
}

.page-content {
    text-align: center;
}

.dark-content {
    background-color: var(--dark-blue);
}

.light-content {
    background-color: white;
}

.divider-bar {
    background-color: var(--bg-color-dark);
    padding: 1px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 64px;
    /* background-color: var(--dark-blue); */
    justify-content: center;
    -webkit-box-pack: center;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-yellow);
    padding: 0 16px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    font-family: var(--fancy-font);
}

.navbar a:hover {
    color: var(--violet-hover);
    transition: 0.7s;
}

.current-page {
    color: var(--violet-hover) !important;
}

#nav-logo {
    padding: 4px 8px;
    position: absolute;
    z-index: 2;
    height: 56px;
    width: auto;
    overflow: hidden;
}

.head-graphic {
    opacity: .8;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 300px;
}

#head-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#head-text {
    max-height: 284px;
    padding: 16px 0;
    width: auto;
    z-index: 100;
}

#banner {
    justify-content: left;
    max-height: 75px;
}

#banner-text {
    max-height: 75px;
    width: auto;
    z-index: 100;
}

.featured {
    text-align: center;
}

#home-featured {
    font-family: var(--fancy-font);
    color: var(--light-yellow);
    font-size: 64px;
    font-style: italic;
}

.search-filters {
    display: block;
}

.search-title {
    font-family: var(--fancy-font);
    font-size: 64px;
    color: var(--violet-hover);
    padding: 24px 0;
}

#search-form {
    padding-top: 128px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

#search-form label {
    font-family: var(--fancy-font);
    font-size: 32px;
    padding: 0 8px;
    color: var(--medium-violet);
}

#search-form input, #search-form select {
    font-family: var(--fancy-font);
    font-size: 24px;
    padding-left: 8px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid slategray;
    background: none;
    outline: none;
}

#search-form select {
    box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to bottom, var(--light-yellow) 0%, white 75%);
    background-repeat: no-repeat, repeat;
    color: transparent;
    text-shadow: 0 0 0 #000;
    border-radius: 3px;
    border-bottom: none;
}

#search-form option {
    font-family: var(--fancy-font);
}

#search-form input[type=text] {
    width: 10%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#search-form input[type=text]:focus {
    border-bottom: 2px solid var(--dark-blue);
    width: 20%;
}

.search-element {
    padding-bottom: 16px;
}

.search-results {
    background-color: rgba(5, 33, 55, .4);
}